---
import styles from "./CSS/Posts.module.css"
---

<div class={styles.posts}>
    <center>
        <h2>Posts</h2>
    </center>

    <div class={styles.posts_grid}>
        <div class={styles.post}>
            <h2>Stopping the lies.</h2>
            <p>
                Myth-busting a lot of lies the are spread in so many courses and learning material.
            </p>
           <a href="/post-1" target="_blank">See post</a>
        </div>
        <div class={styles.post}>
            <h2>Language hell.</h2>
            <p>
                My "journey" in making a lexer in Rust and what <br> I learned 
                about how programming languages work 
            </p>
           <a href="/post-2" target="_blank">See post</a>
        </div>
        <div class={styles.post}>
            <h2>The codepocalypse.</h2>
            <p>
                The world before the sheer existance of LLMs <br> was 
                extremely different,  and for sure <br> was more fun.
            </p>
           <a href="/post-3" target="_blank">See post</a>
        </div>
    </div>
</div>